* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  /* margin: 0; */
  box-sizing: border-box; /* calcula a caixa pela borda da caixa*/
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 970px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 75%; /* 12px */
  }
}

@media (max-width: 590px) {
  :root {
    font-size: 62.25%; /* 10px */
  }
}

body {
  padding: 40px 50px;
  margin: 23px 13px;
  background-color: #2221;
  display: grid;
  grid-template-areas:
    "header header"
    "contato obj"
    "form hist"
    "idioma hist";
}

h1,
h2,
h3,
title {
  font-weight: 500;
  line-height: 1.875rem;
  margin-bottom: 7px;
}

header h1 {
  padding: 0px 0px 7px 0px;
  font-size: 38px;
}

#container {
  text-align: -webkit-right;

  padding: 52px 17px;
  margin-bottom: 10px;
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  margin: auto;
}

.circle img {
  bottom: -1px;
  left: -36px;
  width: 134%;
  position: relative;
}

.section {
  border: 1px solid rgb(181, 180, 180);
  padding: 29px 50px;
  margin: 5px 5px;
  background-color: #2221;

  text-align: justify;
}

.not-styled-list {
  list-style: none;
  margin: 12px;
  margin-left: -39px;
}

#objetivo {
  grid-area: obj;
}

#formação {
  grid-area: form;
}

#histórico {
  grid-area: hist;
}

#idioma {
  grid-area: idioma;
}

#contato {
  grid-area: contato;
}

#header {
  grid-area: header;
  text-align: center;
  margin-bottom: 20px;
}

#idioma ul {
  list-style: upper-roman;
}
